<div *ngIf="student" class="leaderboard-container">
  <form #studentForm="ngForm" (ngSubmit)="submitForm(); studentForm.reset()" class="full">
    <table cellspacing="0" class="full">
      <tr>
        <td>
          <md-input-container class="input">
            <input mdInput placeholder="Complete Name" name="firstname" [(ngModel)]="student.fullname" #fullname="ngModel" required>
          </md-input-container>
          <div class="error" *ngIf="!fullname.valid && fullname.touched">
            Field cannot be empty.
          </div>
        </td>
        <td>
          <md-select class="input" placeholder="Select an image" name="photo" [(ngModel)]="student.photo" #photo="ngModel" required>
            <md-option *ngFor="let image of images" [value]="image.value">
              <img class="select-avatar-small" [src]="image.value" /> {{ image.viewValue }}
            </md-option>
          </md-select>
          <div class="error" *ngIf="!photo.valid && photo.touched">
            Field cannot be empty.
          </div>
        </td>
        <td>
          <md-input-container>
            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" name="infoupdated" [(ngModel)]="student.infoupdated" #infoupdated="ngModel"
              name="infoupdated" [(ngModel)]="student.infoupdated" #infoupdated="ngModel" readonly required>
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
          </md-input-container>
          <md-datepicker #picker></md-datepicker>
          <div class="error" *ngIf="!infoupdated.valid && infoupdated.touched">
            Field cannot be empty.
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="input">
            <input type="number" min="0" max="5" mdInput placeholder="Martial arts" name="grade1" [(ngModel)]="student.grade1" #grade1="ngModel">
          </md-input-container>

        </td>
        <td>
          <md-input-container class="input">
            <input type="number" min="0" max="5" mdInput placeholder="Strength" name="grade2" [(ngModel)]="student.grade2" #grade2="ngModel">
          </md-input-container>
        </td>
        <td>
          <md-input-container class="input">
            <input type="number" min="0" max="5" mdInput placeholder="Speed" name="grade3" [(ngModel)]="student.grade3" #grade3="ngModel">
          </md-input-container>

        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="input">
            <input type="number" min="0" max="5" mdInput placeholder="Stamina" name="grade4" [(ngModel)]="student.grade4" #grade4="ngModel">
          </md-input-container>

        </td>
        <td>
          <md-input-container class="input">
            <input type="number" min="0" max="5" mdInput placeholder="Ki sense" name="grade5" [(ngModel)]="student.grade5" #grade5="ngModel">
          </md-input-container>
        </td>
        <td>
          <button md-raised-button color="primary" [disabled]="!studentForm.valid">{{formMode ? 'update' :'create'}}</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="backButton"><button md-raised-button color="accent" (click)="goBack()" *ngIf="formMode">Back</button></div>
</div>