.full {
  width: 100%;
}

.input {
  width: 80%;
}

tr {
  margin: 30px 0 0 0;
}

.error {
  color: red;
}

.success-snackbar {
  background-color: rgba(255, 0, 0, 0.8)
}

.backButton {
  padding-left:45%;
}