@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
html * {
    font-family: 'Lato', sans-serif;
}

.leaderboard-container {
    margin: 50px 0 0 0;
}

.md-icon-button {
    cursor: pointer;
}

.done {
    color: rgba(0, 255, 0, 0.8)
}

.unDone {
    color: rgba(255, 0, 0, 0.8);
}

.select-avatar-small {
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    margin: 10px;
    width: 20px;
    height: 20px;
}